App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
}


div {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
div.li-tasks{
  padding-left: 50px;
  font-size: 30px;
  border: 1px solid #ccc;
}


label {
  font: 1em verdana;
  font-size: 20px;
  color: white;
}
ol {
  text-align: center;
  position: center;
  align-items: center;
  justify-content: center;
  position: center;
}

li {
  text-align: center;
  position: center;
  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
}

p {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: #2d2bb4;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
button.buttonRemover {
  background-color: rgb(196, 36, 36);
}

body{
  background-color: #222;
}